.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner {
  background-image: url("./images/pre_bench.jpg");
  height: 100vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;

  align-content: center;
  transition: height 0.5s;
  z-index: 999;
  top: 0;
}

.banner.smaller {
  height: 0;
  transition: height 1.5s;
  filter: blur(7px);
  -webkit-filter: blur(7px);
}
