html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlay_header {
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 5px;
  margin: 5px;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: black;
}

.overlay_text {
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 70px;
  padding: 3px;
  margin: auto;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

.overlay_text_small {
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 3px;
  margin: auto;
  width: 80%;
  /* -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black; */
  background-color: slategray;
}

.header {
  font-weight: 400;
  text-align: center;
  color: black;
  font-size: 80px;
  padding: 5px;
  margin: 5px;
}

.header_smaller {
  font-weight: 400;
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 5px;
  margin: 5px;
}

.boxed_text {
  color: white;
  background-color: darkslategrey;
  font-size: 20px;
  width: fit-content;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  padding: 6px;
  /* -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black; */
  border-style: solid;
  border-radius: 15px;
  border-color: slategrey;
}

.widget_boxed_text {
  color: white;
  background-color: darkslategrey;
  font-size: 16px;
  width: fit-content;
  max-width: 80%;
  margin-top: 10px;
  text-align: center;
  padding: 6px;
  /* -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black; */
  border-style: solid;
  border-radius: 10px;
  border-color: slategrey;
}

.button {
  font-size: 24px;
  font-weight: 400;
  color: white;
  background-color: slategrey;
  padding: 3px;
  border-radius: 13px;
  border-style: solid;
  border-color: darkslategrey;
  height: fit-content;
  width: fit-content;
}

.widget {
  background-color: slategray;
  color: white;
  margin: 20px;
  border-radius: 30px;
  border-style: solid;
  border-color: darkslategray;
  min-width: fit-content;
  width: 80vw;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .button {
    font-size: 16px;
  }
}
